.container
  %h1 Content
  - if @contents.blank?
    %p There are no content items.
  - else
    %table.table
      %thead
        %tr
          %th 
          %th Identifier
          %th Title
          %th PDF
      %tbody
        - @contents.each do |content|
          %tr
            %td
              - if content.published?
                %button.published.btn.btn-xs.btn-success Unpublish
              - else
                %button.unpublished.btn.btn-xs.btn-primary Publish
            %td= content.identifier
            %td= content.title
            %td= content.pdf.blank? ? '(none)' : image_tag('pdf_icon.png')
            %td= render :partial => 'components/show_edit_delete', :locals => { :model => 'content', :instance => content }

  .btn.btn-default
    = link_to 'New Content', new_content_path, :type => 'button'