.container
  .panel.panel-default
    .panel-heading
      - if @content.published
        - klass = "text-success"
      - else
        - klass = "text-danger"
      %h3.panel-title
        %div{:class => "#{klass}"}
          = @content.published? ? 'Published' : 'UNPUBLISHED'
    .panel-body
      - unless @content.image.blank?
        .image.pull-right
          = image_tag @content.image(:display)
      %p
        %strong Identifier:
        = @content.identifier
      %p
        %strong Title:
        = @content.title
      %label Content
      %p= raw(@content.content)
      %p
        - unless @content.pdf.blank?
          = link_to image_tag('pdf_icon.png') << " " <<  @content.pdf_title, @content.pdf.url, :title => 'Articles of Association', :target => '_blank'

  = render :partial => 'components/back_dash_edit', :locals => { model: 'content', instance: @content, edit_page: false }

  