.container
  %h1 Standard Changes
  - if @standard_changes.blank?
    %p There are currently no standard changes.
  - else
    - if user_signed_in? and current_user.has_role? :admin
      .row
        .col-md-2
          .btn.btn-default
            = link_to 'New Standard change', new_standard_change_path, :type => 'button'
          %br
          %br
    .row   
      .col-md-2
        .form-group
          = select_tag('status', options_for_select([["Any status", "all"]] + get_change_selection('status'),'proposed'), class: 'status form-control input-small')
      .col-md-2
        .form-group
          = select_tag('version', options_for_select([["All versions", "all"]] + get_version_options), class: 'version form-control input-small')
      .col-md-6
        %span.sc-key.bg-info Proposed
        != "&nbsp;&nbsp;&nbsp;"
        %span.sc-key.bg-success Approved
        != "&nbsp;&nbsp;&nbsp;"
        %span.sc-key.bg-danger Withdrawn or Deprecated
    .table-responsive
      %table.table
        %tr
          %th Version
          %th Title
          %th Overview
          %th Activity
          %th Type
          %th Status

        - @standard_changes.each_with_index do |standard_change, i|
          - klass = "v#{standard_change.version.version.gsub('.','')} #{standard_change.status}"
          - case standard_change.status
            - when 'approved'
              - klass += ' success'
            - when 'proposed'
              - klass += ' info'
            - when 'withdrawn', 'deprecated'
              - klass += ' danger'
          - if i > 0 and @standard_changes[i-1].version.version != standard_change.version.version
            - klass += ' new-version-row'
          %tr{ class: klass }
            %td{:class => standard_change.version.current? ? 'current' : ''}= standard_change.version.version
            %td
              %b
                = standard_change.title
              %br
              %br
              = render :partial => 'components/show_edit_delete', :locals => { :model => 'standard_change', :instance => standard_change }
            - overview = standard_change.overview.gsub(%r|<pre>.*</pre>|m, '') unless standard_change.overview.nil?
            %td.overview
              = truncate_html(raw(overview), :length => 400)
            %td
              %em
                != "Last&nbsp;updated:<br />#{standard_change.updated_at.strftime('%e %b \'%y')}"
              %br
              - last_commented = standard_change.comments.blank? ? 'never' : standard_change.comments.last.created_at.strftime('%e %b \'%y')
              %em
                !="Last&nbsp;commented:<br />#{last_commented}"
            %td= standard_change.type
            %td= standard_change.status
 
  - if user_signed_in? and current_user.has_role? :admin
    %br
    .btn.btn-default
      = link_to 'New Standard change', new_standard_change_path, :type => 'button'
