- case @standard_change.status
  - when 'approved'
    - klass = "panel-success"
    - status = 'Approved'
  - when 'proposed'
    - klass = "panel-warning"
    - status = 'Proposed'
  - when 'withdrawn'
    - klass = "panel-danger"
    - status = 'Withdrawn'
.container
  .row
    .col-md-offset-2.col-md-8

      .btn-group        
        = link_to 'Back to list of changes', standard_changes_path, :type => 'button', :class => 'btn btn-default'
        = link_to 'Dashboard', admin_dashboard_path, :type => 'button', :class => 'btn btn-default'
        - if user_signed_in? and current_user.has_role? :admin          
          = link_to 'Edit', edit_standard_change_path(@standard_change), :type => 'button', :class => 'btn btn-warning'
      
      %br
      %br

      .panel{ class: klass }
        .panel-heading
          %h3.panel-title
            = @standard_change.title
            %span{:class => "pull-right"}= status
        .panel-body
          %p
            %b Standard version:
            = @standard_change.version.version

          %p
            %b= "#{Rails.configuration.ofx[:standard_change_type][@standard_change.type]} Change"

          - if @standard_change.status == 'approved'
            %label Final status
            = raw(@standard_change.status_details)
  
          %label Subcommittee
          %p= raw(@standard_change.committee)

          %label Overview
          = raw(@standard_change.overview)

          %label Solution
          = raw(@standard_change.solution)

      .btn-group        
        = link_to 'Back to list of changes', standard_changes_path, :type => 'button', :class => 'btn btn-default'
        = link_to 'Dashboard', admin_dashboard_path, :type => 'button', :class => 'btn btn-default'
        - if user_signed_in? and current_user.has_role? :admin          
          = link_to 'Edit', edit_standard_change_path(@standard_change), :type => 'button', :class => 'btn btn-warning'

      %br
      %br

      = render :partial => 'comments/comments'  


