.panel.panel-default
  .panel-heading
    %h3.panel-title Hero Image (max 10)
  .panel-body
    = form_tag(admin_home_heroes_path, :id => 'home_heroes', :multipart => true, :role => "form") do
      - if !@home_heroes.blank?
        %table.table-condensed
          %thead
            %th Active
            %th
            %th Delete
          %tbody
            - @home_heroes.each do |home_hero|
              %tr
                %td
                  = radio_button_tag("home_hero[id]", home_hero.id, home_hero.active?)
                %td
                  .form-group
                    = image_tag(home_hero.hero_image(:list_display))
                %td{align: 'center'}
                  .form-group
                    = check_box_tag("home_hero[delete][]", home_hero.id)
      - if @home_heroes.length <= 10
        %p 
          Upload a new hero image (will be set as active):
          = file_field_tag "home_hero[hero_image]"

      %p
        .form-group= submit_tag 'Save/Update/Delete', :class => 'btn btn-primary'
