.panel.panel-default
  .panel-heading
    %h3.panel-title Member Companies
  .panel-body
    - if companies.blank?
      %p No member companies yet
    - else
      %table.table-condensed
        %thead
          %tr
            %th
            %th Name
            %th URL
            %th Contact
            %th Join Dateå
            %th{ :style => 'text-align: center;'} Actions
        %tbody
          - companies.each do |company|
            %tr
              %td= company.logo.blank? ? '(no logo)' : image_tag(company.logo.url(:listing))
              %td= company.name
              %td= link_to company.url, company.url
              %td= company.contact.blank? ? '(none)' : company.contact.name
              %td= company.joined.blank? ? '' : company.joined.strftime('%d-%b-%Y')
              %td{ :style => 'text-align: center;'}
                .btn-group
                  = link_to 'Show', company, class: 'btn btn-default btn-sm'
                  = link_to 'Edit', edit_company_path(company), class: 'btn btn-warning btn-sm'
                  = link_to 'Delete', company, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-sm'
        
    %br
      = link_to 'New member company', new_company_path, :type => 'button', :class => 'btn btn-primary'
          