.panel.panel-default
  .panel-heading
    %h3.panel-title News Items
  .panel-body
    - if @news_items.blank?
      %p No news items yet
    - else
      %table.table-condensed
        %thead
          %tr
            %th Date
            %th Headline
            %th Location
            %th{ :colspan => 3 } Actions
        %tbody
          - @news_items.each do |item|
            %tr
              %td= item.date
              %td= item.headline
              %td= item.location
              %td= link_to 'Show', item
              %td= link_to 'Edit', edit_news_item_path(item)
              %td= link_to 'Delete', item, :method => :delete, :data => { :confirm => 'Are you sure?' }
        
    %br
      = link_to 'New news item', new_news_item_path
          