= form_for @user, :html => { :multipart => true, :role => "form", :class => "form-horizontal" } do |f|
  - if @user.errors.any?
    .alert.alert-danger
      %h2 #{pluralize(@user.errors.count, "error")} prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :email
    = f.text_field :email, :value => @user.email, :class => "form-control"

  .form-group
    = f.label :name
    = f.text_field :name, :value => @user.name, :class => "form-control"

  .form-group
    = f.label "Company or Organization"
    = f.text_field :company_or_org, :value => @user.company_or_org, :class => "form-control"


  .form-group
    = f.hidden_field :approved, :value => (user_signed_in? && current_user.has_role? admin)
    = f.submit 'Update', :class => 'btn btn-primary'     