- def admin?
  - user_signed_in? and current_user.has_role? :admin
- num_roles = admin? ? @roles.length : 1
.container
  %h1 All Users
  - if @users.blank?
    %p There are no users!
  - else
    %table.table#users
      %thead
        %tr
          %th Approved
          %th Name
          - if user_signed_in?
            %th Email
          %th Company
          %th{ :colspan => num_roles, :class => 'text-center' } 
            - if !admin?
              Director
            - else
              Roles
          %th.text-center Avatar
          - if admin?
            %th Notifications?
            %th
          %tr
            %th{ :colspan => 4 }
            - @roles.each do |r|
              %th.text-center= r.to_s.titlecase
            - if admin?
              %th
          
      %tbody
        - @users.each do |user|
          %tr
            %td.text-center
              = render :partial => 'components/user_status', :locals => { :user => user }
            %td= user.name
            - if user_signed_in?
              %td= user.email
            %td= user.company_or_org
            - if admin?
              - @roles.each do |r|
                %td.text-center= check_box_tag "role-#{r}-#{user.id}", r, user.has_role?(r), class: 'role'
            - else
              %td.text-center= user.has_role?('director') ? 'Director' : ''
            
            %td.text-center= user.avatar.blank? ? '(none)' : image_tag(user.avatar.url(:listing))
            - if admin?
              %td.text-center= user.notifications? ? 'Yes' : 'No'
              %td= render :partial => 'components/show_edit_delete', :locals => { :model => 'user', :instance => user }
