- def admin?
  - user_signed_in? and current_user.has_role? :admin
- num_roles = admin? ? @roles.length : 1
.container
  - if admin?
    %h1 Create  new user
    .well.well-sm
      .row
        .col-md-6.col-md-offset-1
          = form_tag 'users/new_by_admin', { :method => :post, :multipart => true, :class => "form-horizontal" } do 
            .form-group
              %label Email
              = text_field_tag 'user[email]', nil, :class => "form-control"

            .form-group
              %label Name
              = text_field_tag 'user[name]', nil, :class => "form-control"

            .form-group
              %label Company or Organization
              = text_field_tag 'user[company_or_org]', nil, :class => "form-control"

            .form-group
              = submit_tag 'Create user', :class => 'btn btn-primary'       
  %h1 All Users
  - if @users.blank?
    %p There are no users!
  - else
    %table.table#users
      %thead
        %tr
          %th Approved
          %th Name
          - if user_signed_in?
            %th Email
          %th Company
          %th{ :colspan => num_roles, :class => 'text-center' } 
            - if !admin?
              Directors
            - else
              Roles
          %th.text-center Avatar
          - if admin?
            %th Notifications?
            %th
          - if admin?  
            %tr
              %th{ :colspan => 4 }
              - @roles.each do |r|
                %th.text-center= r.to_s.titlecase
              %th
          
      %tbody
        - @users.each do |user|
          %tr
            %td.text-center
              = render :partial => 'components/user_status', :locals => { :user => user }
            %td= user.name
            - if user_signed_in?
              %td= user.email
            %td= user.company_or_org
            - if admin?
              - @roles.each do |r|
                %td.text-center= check_box_tag "role-#{r}-#{user.id}", r, user.has_role?(r), class: 'role'
            - else
              %td.text-center= user.has_role?('director') ? 'Director' : ''
            
            %td.text-center= user.avatar.blank? ? '(none)' : image_tag(user.avatar.url(:listing))
            - if admin?
              %td.text-center= user.notifications? ? 'Yes' : 'No'
              %td= render :partial => 'components/show_edit_delete', :locals => { :model => 'user', :instance => user }
