.container
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        = @user.name
        .pull-right
          = @user.approved? ? 'Approved' : 'AWAITING APPROVAL'
    .panel-body
      %p
        %b Email/login:
        = @user.email
      %p
        %b Receive notifications?
        = @user.notifications? ? 'Yes' : 'No'
      %p
        %b Company or Organization:
        = @user.company_or_org
      %p
        %b Avatar:
        %br
        - if @user.avatar.blank?
          (none)
        - else
          = image_tag(@user.avatar.url(:display))

  = render :partial => 'components/back_dash_edit', :locals => { model: 'user', instance: @user, edit_page: false }

  