.container
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        = @user.name
        .pull-right
          = @user.approved? ? 'Approved' : 'AWAITING APPROVAL'
    .panel-body
      %p
        %b Email/login:
        = @user.email
      %p
        %b Company or Organization:
        = @user.company_or_org
      %p
        %b Avatar:
        %br
        - if @user.avatar.blank?
          (none)
        - else
          = image_tag(@user.avatar.url(:display))

  .btn-group        
    = link_to 'Back to user list', users_path, :type => 'button', :class => 'btn btn-default'
    - if current_user and current_user.has_role? :admin
      = link_to 'Dashboard', admin_dashboard_path, :type => 'button', :class => 'btn btn-default'
      = link_to 'Edit', edit_user_path(@user), :type => 'button', :class => 'btn btn-primary'

  