.container
  .row
    .col-md-offset-3.col-md-6
      %h2 Edit Member Information
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f|
        - if resource.errors.any?
          .alert.alert-danger
            %h2 #{pluralize(resource.errors.count, "error")} prohibited this user from being saved:
            %ul
              - resource.errors.full_messages.each do |msg|
                %li= msg
        .form-group
          = f.label :email
          = f.text_field :email, :class => "form-control", :autofocus => true, :required => true
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %p
              Currently waiting confirmation for: #{resource.unconfirmed_email}

        .form-group
          = f.label :current_password
          = f.password_field :current_password, :class => "form-control", :hint => "we need your current password to confirm your changes", :required => true

        .form-group
          = f.label :password
          = f.password_field :password, :required => false, :class => "form-control"

        .form-group
          = f.label :password_confirmation
          = f.password_field :password_confirmation, :required => false, :class => "form-control"

        .form-group
          = f.label :name
          = f.text_field :name, :class => "form-control"

        .form-group
          = f.label "Company or Organization"
          = f.text_field :company_or_org, :class => "form-control"

        .form-group
          = f.label :notifications
          = f.check_box :notifications, :value => @user.notifications, :disabled => @user.id != current_user.id
          %p.hint Check this if you'd like to receive e-mail notifications when standard changes are updated or commented.

        .form-group
          = f.label :avatar
          - if resource.avatar.blank?
            (no avatar)
          - else
            = image_tag resource.avatar.url(:display)
          = f.file_field :avatar

        .form-group
          = f.submit 'Save', :class => 'btn btn-primary'     
 
      %h3 Cancel my account
      %p
        #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}
      = link_to "Back", :back

