.welcome#welcome
  .container
    .jumbotron
      .logo= image_tag('ofx_logo.png')
      %h1 
        Welcome to
        %br The Open Effects Association
      = #{@welcome_content}

.welcome.bg-info
  .container
    .row
      .col-sm-offset-2.col-sm-8
        = render :partial => 'welcome'
      
#panels.welcome
  .container
    .row
      .col-md-4
        = render :partial => 'panel_1'
      .col-md-4
        = render :partial => 'panel_2'
      .col-md-4
        = render :partial => 'panel_3'

#standard.welcome
  .container
    .row
      .col-sm-offset-2.col-sm-8
        = render :partial => 'standard' 

#implementers.welcome
  .container
    .row
      .col-sm-offset-2.col-sm-8
        %h2 For Implementers
        .col-md-6
          = render 'info_for_implementers'
        .col-md-6
          = render 'links_for_implementers'
  
#organization.welcome
  .container
    .row
      %h2 The Organization

    .row
      .col-md-4
        %h3 Standards Discussion
        %h4 Recent Activity
        = render 'standards_discussion'
      .col-md-8
        %h3 Meeting Minutes
        .row
        .col-md-6
          = render 'agm_minutes'
        .col-md-6
          = render 'dir_minutes'
      
        
    
    
      
      
