.jumbotron
  .logo.pull-right
    = image_tag('ofx_logo.png')
  %h1 
    Welcome to
    %br The Open Effects Association
  = #{@welcome_content}

.container
  .row
    .col-md-4
      = render :partial => 'panel_1'
    .col-md-4
      = render :partial => 'panel_2'
    .col-md-4
      = render :partial => 'panel_3'

  .row#standard
    .col-sm-offset-2.col-sm-8
      = render :partial => 'standard' 

  .row#implementers
    .col-sm-offset-2.col-sm-8
      %h2 For Implementers
      .col-md-6
        = render 'info_for_implementers'
      .col-md-6
        = render 'links_for_implementers'
  
  .row#organization
    %h2 The Organization

  .row
    %h3 Meeting Minutes
    .col-md-4
      %h4 General Meetings
      %p - list of AGM minutes -
    .col-md-4
      %h4 Directors' Meetings
      %p - list of DM minutes -
    .col-md-4
      %h4 Other Stuff?
        
    
    
      
      
