.container
  %h2 Press Release
  .panel.panel-default
    .panel-heading
      - if @news_item.published
        - klass = "text-success"
      - else
        - klass = "text-danger"
      %h3.panel-title
        = @news_item.headline
        %div{:class => "pull-right #{klass}"}
          = @news_item.published? ? 'Published' : 'UNPUBLISHED'
    .panel-body
      %p
        %b Date:
        = @news_item.date.strftime('%d-%b-%Y')
      %label Summary
      %p= raw(@news_item.summary)

  = render :partial => 'components/back_dash_edit', :locals => { model: 'news_item', instance: @news_item, edit_page: false }

  