.container
  %h1 Minutes
  - if @minutes.blank?
    %p There are no minutes
  - else
    %table.table
      %thead
        %tr
          %th 
          %th Meeting
          %th Date
          %th Location
      %tbody
        - @minutes.each do |minute|
          %tr
            %td.publishing
              - if minute.published?
                %button.published.btn.btn-xs.btn-success{ :id => "pub-#{minute.id}" } Unpublish
              - else
                %button.btn.btn-xs.btn-warning{ :id => "pub-#{minute.id}" } Publish
            %td= textify(minute.meeting)
            %td= minute.date.strftime('%d-%b-%Y')
            %td= minute.location
            %td= render :partial => 'components/show_edit_delete', :locals => { :model => 'minute', :instance => minute }

  .btn.btn-default
    = link_to 'New Minutes', new_minute_path, :type => 'button'