.panel.panel-default
  .panel-heading
    %h3.panel-title
      = @minute.meeting
      .pull-right
        = @minute.published? ? 'Published' : 'UNPUBLISHED'
  .panel-body
    %p
      %b Date:
      = @minute.date
    %p
      %b Location:
      = @minute.location
    %label Members Attending
    %p= @minute.members.html_safe
    %label Observers Attending
    %p= @minute.observing.html_safe
    %label Minutes
    %p= @minute.minutes.html_safe

.btn-group        
  = link_to 'Back to minute list', minutes_path, :type => 'button', :class => 'btn btn-default'
  - if current_user
    = link_to 'Dashboard', admin_dashboard_path, :type => 'button', :class => 'btn btn-default'
    = link_to 'Edit', edit_minute_path(@minute), :type => 'button', :class => 'btn btn-primary'

  