.container
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        = textify(@minute.meeting)
        .pull-right
          = @minute.published? ? 'Published' : 'UNPUBLISHED'
    .panel-body
      %p
        %b Date:
        = @minute.date
      %p
        %b Location:
        = @minute.location
      %label Members Attending
      %p= raw(@minute.members)
      - if !@minute.observing.blank?
        %label Observers Attending
        %p= raw(@minute.observing)
      %h3 Minutes
      %hr
      %p= raw(@minute.minutes)

  = render :partial => 'components/back_dash_edit', :locals => { model: 'minute', instance: @minute, edit_page: false }

  