!!!
%html
  %head
    %title= "#{request.env['REQUEST_PATH'].nil? ? '' : request.env['REQUEST_PATH'].gsub('/', ' ').titlecase + ' | '} The Open Effects Association"
    = favicon_link_tag "ofx_favicon.ico"
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{ :http_equiv => "X-UA-Compatible", :content => "IE=edge" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }
    %script{ :src => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" }
    - if user_signed_in?    
      :javascript
        js_data = { user: { id: "#{current_user.id}" }}
        
  %body{ :role => "document", 'data-spy' => 'scroll', 'data-target' => '.navbar-top', :class => "c_#{params[:controller]} a_#{params[:action]}"}
    #terminal.modal.fade
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            .button{ type: 'button', class: 'close', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'} &times;
            %h4{ class: 'modal-title' } Terminal Output
          .modal-body
            .window
    .wrapper
      .navbar.navbar-inverse.navbar-fixed-top{ :role => "components" }
        .container
          .navbar-header
            %button{ :class => "navbar-toggle", :data_target => ".navbar-collapse", :data_toggle => "collapse", :type => "button" }
              %span.sr-only Toggle components
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          .navbar-collapse.collapse
            .row
              .navbar-left
                .navbar-top
                  %ul.nav.navbar-nav
                    %li.nav-logo
                      = link_to image_tag('OFX_small.png'), root_path, class: 'navbar-link'
                    %li.dropdown
                      = link_to raw("Welcome #{content_tag(:span, nil, :class => (params[:controller] == 'welcome' ? 'glyphicon glyphicon-circle-arrow-down' : 'glyphicon glyphicon-circle-arrow-left'))}"), root_path
                      %ul.dropdown-menu.inverse-dropdown
                        %li
                          = link_to raw('Why a Standard?'), '#standard', class: 'navbar-link'
                        %li
                          = link_to raw('For Implementers'), '#implementers', class: 'navbar-link'
                        %li
                          = link_to raw('Association Business'), '#organization', class: 'navbar-link'
                    %li.dropdown.api 
                      %a.navbar-link API Documentation #{content_tag(:span, nil, :class => 'glyphicon glyphicon-circle-arrow-down')}
                      %ul.dropdown-menu.inverse-dropdown
                        %li
                          = link_to 'Programming Guide', '/documentation/guide', class: 'navbar-link'
                        %li
                          = link_to 'Programming Reference', '/documentation/reference', class: 'navbar-link'
                        %li
                          = link_to 'API Reference', '/documentation/api_doc', class: 'navbar-link'                     
                    %li= link_to 'Standards Discussion', :standard_changes, class: 'navbar-link'
                    %li= link_to 'Contact', contact_form_path, class: 'navbar-link'
                    - if user_signed_in? and current_user.has_role? :admin
                      %li
                        = link_to 'Admin Dashboard', admin_dashboard_path
                   
              - if user_signed_in?
                = form_tag(destroy_user_session_path, method: 'delete', role: "form", class: "navbar-form navbar-right form-inline") do
                  %button{ :type => 'submit', :class => "btn btn-sm btn-primary" } Sign out
                %p.navbar-text.navbar-right
                  Member: #{current_user.name}
              
              - else
                = form_tag(new_user_session_path, method: 'post', role: "form", class: "navbar-form navbar-right form-inline") do
                  .form-group
                    = text_field_tag "user[email]", nil, :class => "form-control input-xs", :placeholder => 'Email'
                  .form-group
                    = password_field_tag "user[password]", nil, :class => "form-control input-xs", :placeholder => 'Password'
                  
                  %button{ :type => 'submit', :class => "btn btn-sm btn-primary" } Sign in
                 
      .container{ :role => "main" }    
        -if flash[:notice]
          .alert.alert-info
            = flash.notice
        -if flash[:alert]
          .alert.alert-danger
            = flash.alert
      = yield
      .push
      
    %footer
      %ul.footer-link-group
        %li
          = link_to 'OFX @ Github', 'https://github.com/ofxa/openfx', :target => '_blank', :class => 'footer-link'
        %li
          = link_to 'Association Information', '/contents/page/association_information', :title => 'Association details', :class => 'footer-link'
        %li
          = link_to 'Articles of Association', '/association/articles', :target=> '_blank', :title => 'Articles of Association (PDF)', :class => 'footer-link'
      %br
      Copyright  &copy;#{Time.now.year} The Open Effects Association
