!!!
%html
  %head
    %title The Open Effects Association
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{ :http_equiv => "X-UA-Compatible", :content => "IE=edge" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }
  %body{ :role => "document" }
    .wrapper
      .navbar.navbar-inverse.navbar-fixed-top{ :role => "navigation" }
        .container
          .navbar-header
            %button{ :class => "navbar-toggle", :data_target => ".navbar-collapse", :data_toggle => "collapse", :type => "button" }
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          .navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li.active
                %a{ :href => "#" } Home
              %li
                %a{ :href => "#stuff" } Stuff
            .sign-in.pull-right
              - if current_user
                Member: #{current_user.name}
              - else
                = form_tag('/users/sign_in', role: "form", class: "form-inline") do
                  .form-group
                    = label_tag :email
                    = text_field_tag :email, 'Email', :class => "form-control"
                  .form-group
                    = label_tag :password
                    = password_field_tag :password, nil, :class => "form-control"
                    
                  %button{ :type => 'submit', :class => "btn btn-large btn-primary" } Sign in
                  
      .container
        -if flash[:notice]
          .alert.alert-info
            = flash.notice
        -if flash[:alert]
          .alert.alert-danger
            = flash.alert
      .container{ :role => "main" }    
        = yield
      .push
      
    %footer
      .container
        Copyright  &copy;#{Time.now.year} The Open Effects Association 