!!!
%html
  %head
    %title The Open Effects Association
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{ :http_equiv => "X-UA-Compatible", :content => "IE=edge" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }
  %body{ :role => "document" }
    .wrapper
      .navbar.navbar-inverse.navbar-fixed-top{ :role => "navigation" }
        .container
          .navbar-header
            %button{ :class => "navbar-toggle", :data_target => ".navbar-collapse", :data_toggle => "collapse", :type => "button" }
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          .navbar-collapse.collapse
            .row
              .col-6-md
                %ul.nav.navbar-nav
                  %li.active
                    %a{ :href => "/" }= image_tag('OFX_small.png')
                  %li
                    %a{:href => '/#standard'} Why A Standard?
                  %li
                    %a{:href => '/#implementers'} For Implementers
                  %li
                    %a{:href => '/#organization'} The Organization
                  - if current_user and current_user.has_role? :admin
                    %li
                      %a{ :href => "/admin/dashboard" } Dashboard
                  %li
                    %a{ :href => "/reference/index.html", :target => "_blank", :title => "Open the API reference" } 
                      API Reference
                      %span.glyphicon.glyphicon-new-window
              .col-6-md.user-status.pull-right
                - if user_signed_in?
                  = form_tag(destroy_user_session_path, method: 'delete', role: "form", class: "form-inline") do
                    Member: #{current_user.name}
                    %button{ :type => 'submit', :class => "btn btn-sm btn-primary" } Sign out
                
                - else
                  = form_tag(new_user_session_path, method: 'post', role: "form", class: "form-inline") do
                    .form-group
                      = text_field_tag "user[email]", nil, :class => "form-control input-xs", :placeholder => 'Email'
                    .form-group
                      = password_field_tag "user[password]", nil, :class => "form-control input-xs", :placeholder => 'Password'
                    
                    %button{ :type => 'submit', :class => "btn btn-sm btn-primary" } Sign in
                 
      .container{ :role => "main" }    
        -if flash[:notice]
          .alert.alert-info
            = flash.notice
        -if flash[:alert]
          .alert.alert-danger
            = flash.alert
      = yield
      .push
      
    %footer
      .container
        Copyright  &copy;#{Time.now.year} The Open Effects Association 